*{
	margin:0px;
	padding:0px;
}
div#general{

	margin-left:20px;
	margin-right:20px;
	width:990px;
	height:660px;
}


div#logo{
	float:left;
	width:990px;
	height:117px;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color:black;
}

div#bem_vindo{
	margin-top:16px;
	float:left;
	width:495px;
	height:45px;
	text-align:left;
}

div#button{
	margin-top:16px;
	float:right;
	width:495px;
	height:45px;
		text-align:right;
}
